// Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;


// Colors
$spotify-green: #1DB954;
$spotify-dark-gray: #191414;
$spotify-light-gray: #B3B3B3;
$spotify-white: #FFFFFF;

$sound-cloud-orange: #FF5500;
$sound-cloud-dark-gray: #404040;
$sound-cloud-light-gray: #F2F2F2;
$sound-cloud-white: #FFFFFF;


$site-primary-black: #323232;
$site-secondary-black: #000000;
$site-primary-white: #FFFFFF;
$sites-secondary-mercury: #E1E1E1;
$site-secondary-alabaster: #FAFAFA;
$site-primary-silver: #AFAFAF;
$red: #D63447;

$site-primary-blue: #0095FF;
$sites-secondary-blue: #0065AD;