@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/typography";

.artist-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $spotify-green;
    background: linear-gradient($spotify-green, $spotify-dark-gray 100%);

    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: $spotify-white;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: $spotify-light-gray;
    }

    p {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                margin-right: 0.5rem;
            }

            p {
                margin: 0;
            }
        }
    }
}