@import "./styles/mixins";
@import "./styles/typography";
@import "./styles/variables";

* {
  margin: 0rem;
  box-sizing: border-box;
  text-decoration: none;
  
}

// .container{
//   background-color: $spotify-green;
//     background: linear-gradient($spotify-green 1.61%,#121212 39.73%,var(--background-base,$sound-cloud-orange) 75.29%);
  
// }